<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="vendor/bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="img/icon.png">
    <title>Digibyte Canvas</title>
</head>

<body class="d-flex flex-column h-100 px-4" id="winWindow">

    <div id="frmStart" class="frm my-auto d-none">
        <div class="text-center mb-3">
            <img src="img/icon.png" class="img-fluid" style="max-height: 100px;">
        </div>
        <h1 class="mb-2 text-center">
            Welcome to <i>DigiCanvas</i>
        </h1>
        <div class="mb-4 text-center">
            A peer to peer canvas on top of the DigiByte blockchain
        </div>
        <div class="mb-3 text-center">
            <button id="btnCreateWallet" class="btn btn-bg" hidden><i class="bi bi-wallet2"></i> Create Wallet</button>
            <button id="btnShowCanvas" class="btn btn-bg" hidden><i class="bi bi-palette"></i> Go to canvas</button>
        </div>
    </div>
    <div id="frmCreateWallet" class="frm my-auto d-none">
        <h1 class="mb-2 text-center">
            Set your password
        </h1>
        <div class="mb-3">
            <label class="form-label">New password:</label>
            <input type="password" class="form-control" id="txtNewPassword" placeholder="Enter your password">
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm password:</label>
            <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Repeat your password">
        </div>
        <div class="mb-3 text-center">
            <button id="btnSaveWallet" class="btn btn-bg"><i class="bi bi-save"></i> Save wallet</button>
        </div>
    </div>
    <div id="frmWallet" class="frm my-auto d-none">
        <div class="text-center mb-3">
            <img src="img/icon.png" class="img-fluid" style="max-height: 75px;">
        </div>
        <h1 class="mb-2 text-center">
            <i>DigiCanvas</i> Wallet
        </h1>
        <div class="text-center">
            Fund your wallet before painting! <br>
            To paint one pixel cost one DigiByte
        </div>
        <div class="text-center">
            <img id="qr" class="img-fluid">
            <input class="form-control-plaintext form-control-sm text-center" type="text" id="lblAddress" readonly style="color: #FFFFFF;">
        </div>
        <div class="mb-3 text-center">
            <button id="btnOpenCanvas" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to canvas"><i class="bi bi-palette"></i></button>
            <button id="btnCopyAddress" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy address"><i class="bi bi-clipboard"></i></button>
            <button id="btnOpenWidthraw" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Widthraw funds"><i class="bi bi-send-fill"></i></button>
        </div>
    </div>
    <div id="frmWidthraw" class="frm my-auto d-none">
        <div class="text-center mb-3">
            <img src="img/icon.png" class="img-fluid" style="max-height: 75px;">
        </div>
        <h1 class="mb-2 text-center">
            Widthraw Wallet Funds
        </h1>
        <div class="mb-4 text-center">
            Send all your funds to an external address
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="External DigiByte address" id="txtWidthrawAddress">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Enter wallet password" id="txtWidthrawPassword">
        </div>

        <div class="mb-3 text-center">
            <button id="btnReturnWallet" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Return"><i class="bi bi-arrow-return-left"></i></button>
            <button class="btn btn-bg" id="btnWidthraw" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Send"><i class="bi bi-send-fill"></i></button>
        </div>
    </div>
    <div id="frmCanvas" class="frm my-auto d-none">
        <div class="text-center" style="height: 30px;">
            <small id="lblMessage">

            </small>
        </div>

        <div class="mb-3">
            <div class="text-center">
                <button disabled id="btnUp" class="btn btn-sm btn-bg"><i class="bi bi-caret-up-fill"></i></button>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button disabled id="btnLeft" class="btn btn-sm btn-bg"><i class="bi bi-caret-left-fill"></i></button>
                <canvas id="imgScene" width="256" height="256" style="border: #000000; cursor: wait;"></canvas>
                <button id="btnRight" class="btn btn-sm btn-bg"><i class="bi bi-caret-right-fill"></i></button>
            </div>
            <div class="text-center">
                <button id="btnDown" class="btn btn-sm btn-bg"><i class="bi bi-caret-down-fill"></i></button>
            </div>
        </div>

        <div class="mb-3 text-center">
            Your current color is <i class="bi bi-droplet-half" id="paintColor"></i>
        </div>
        <div class="mb-3 text-center">
            <button id="btnColor0" class="btn btn-bg" style="background-color: #FFFFFF;" onclick="ChangeColor(0)" data-bs-toggle="tooltip" title="White">&nbsp;</button>
            <button id="btnColor1" class="btn btn-bg" style="background-color: #E4E4E4;" onclick="ChangeColor(1)" data-bs-toggle="tooltip" title="Light gray">&nbsp;</button>
            <button id="btnColor2" class="btn btn-bg" style="background-color: #888888;" onclick="ChangeColor(2)" data-bs-toggle="tooltip" title="Gray">&nbsp;</button>
            <button id="btnColor3" class="btn btn-bg" style="background-color: #222222;" onclick="ChangeColor(3)" data-bs-toggle="tooltip" title="Black">&nbsp;</button>
            <button id="btnColor4" class="btn btn-bg" style="background-color: #FFA7D1;" onclick="ChangeColor(4)" data-bs-toggle="tooltip" title="Pink">&nbsp;</button>
            <button id="btnColor5" class="btn btn-bg" style="background-color: #E50000;" onclick="ChangeColor(5)" data-bs-toggle="tooltip" title="Red">&nbsp;</button>
            <button id="btnColor6" class="btn btn-bg" style="background-color: #E59500;" onclick="ChangeColor(6)" data-bs-toggle="tooltip" title="Orange">&nbsp;</button>
            <button id="btnColor7" class="btn btn-bg" style="background-color: #A06A42;" onclick="ChangeColor(7)" data-bs-toggle="tooltip" title="Brown">&nbsp;</button>
            <br>
            <button id="btnColor8" class="btn btn-bg" style="background-color: #E5D900;" onclick="ChangeColor(8)" data-bs-toggle="tooltip" title="Yellow">&nbsp;</button>
            <button id="btnColor9" class="btn btn-bg" style="background-color: #94E044;" onclick="ChangeColor(9)" data-bs-toggle="tooltip" title="Green">&nbsp;</button>
            <button id="btnColor10" class="btn btn-bg" style="background-color: #02BE01;" onclick="ChangeColor(10)" data-bs-toggle="tooltip" title="Dark green">&nbsp;</button>
            <button id="btnColor11" class="btn btn-bg" style="background-color: #00D3DD;" onclick="ChangeColor(11)" data-bs-toggle="tooltip" title="Sky blue">&nbsp;</button>
            <button id="btnColor12" class="btn btn-bg" style="background-color: #0083C7;" onclick="ChangeColor(12)" data-bs-toggle="tooltip" title="Light blue">&nbsp;</button>
            <button id="btnColor13" class="btn btn-bg" style="background-color: #0000EA;" onclick="ChangeColor(13)" data-bs-toggle="tooltip" title="Blue">&nbsp;</button>
            <button id="btnColor14" class="btn btn-bg" style="background-color: #CF6EE4;" onclick="ChangeColor(14)" data-bs-toggle="tooltip" title="Violet">&nbsp;</button>
            <button id="btnColor15" class="btn btn-bg" style="background-color: #820080;" onclick="ChangeColor(15)" data-bs-toggle="tooltip" title="Purple">&nbsp;</button>
        </div>

        <div class="mb-3 text-center">
            <button id="btnZoomIn" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Zoom in"><i class="bi bi-zoom-in"></i></button>
            <button id="btnZoomOut" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Zoom out"><i class="bi bi-zoom-out"></i></button>
            <button id="btnClear" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear changes"><i class="bi bi-hurricane"></i></button>

            <button id="btnWallet" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="DigiByte wallet"><i class="bi bi-wallet2"></i></button>
            <button id="btnBroadcast" class="btn btn-bg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Submit changes"><i class="bi bi-send-fill"></i></button>
        </div>

    </div>
    <div id="frmBroadcast" class="frm my-auto d-none">
        <div class="text-center mb-3">
            <img src="img/icon.png" class="img-fluid" style="max-height: 100px;">
        </div>
        <h1 class="mb-2 text-center">
            Submit changes
        </h1>
        <table class="table mb-3" style="color: #FFF">
            <thead>
                <tr>
                    <th scope="col">Detail</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Your balance</td>
                    <td id="brBlance"></td>
                </tr>
                <tr>
                    <td>Pixels changed</td>
                    <td id="brChanged"></td>
                </tr>
                <tr>
                    <td>Tx fee</td>
                    <td id="brFee">Ɗ -0.00001000</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td id="brTotal"></td>
                </tr>
                <tr>
                    <td>Change</td>
                    <td id="brChange"></td>
                </tr>
            </tfoot>
        </table>
        <div class="mb-3">
            <input type="password" id="txtPassword" class="form-control" placeholder="Enter Wallet Password">
        </div>

        <div class="mb-3 text-center">
            <button id="btnReturnCanvas" class="btn btn-bg" data-bs-toggle="tooltip" title="Go to canvas"><i class="bi bi-palette"></i></button>
            <button id="btnSend" class="btn btn-bg" data-bs-toggle="tooltip" title="Send TX"><i class="bi bi-send-fill"></i></button>
        </div>
    </div>

    <canvas id="imgCanvas" width="256" height="256" hidden></canvas>
    <canvas id="imgChanges" width="256" height="256" hidden></canvas>

    <script src="vendor/bootstrap.js"></script>
    <script src="vendor/digi-qr.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
                trigger: 'hover'
            })
        });
    </script>
</body>

</html>